/*TODO: ACTUAL colour scheme and theme :P */

.test-class {
  max-width: fit-content;
}

.text {
  font-family: Verdana, sans-serif;
  font-size: 15px;
}

.sidebar {
  float: left;
  max-width: 20%;
  height: 100%;
  background-color: lightskyblue;
}

.background {
  background-color: lightsteelblue;
  padding: 10px;
  /*https://www.w3schools.com/css/img_lights.jpg*/
}

.centre {
  margin: auto;
  width: fit-content;
  /*border: 3px solid green;*/
  padding: 5px;
}

.warn {
  background-color: blueviolet;
  color: black;
  font-size: 17px;
  padding: 1px;
  margin: 2%;

}

.body {
  background-color: cadetblue;
  padding: 10px;
}

.image {
  padding: 10px;
  width: 100%;
  max-width: 150px;
}

.web-badge {
  width: 100%;
  max-width: 100px;
  padding: 10px;
}