.test-class {
  background-color: cadetblue;
  max-width: fit-content;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.sidebar {
  float: left;
  max-width: 20%;
  height: 100%;
  background-color: lightblue;
}

.centre {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 5px;
}

.image {
  padding: 10px;
  width: 100%;
  max-width: 150px;
}